* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background-color: black;
    color: white;
    background-image: url('img/bg2.jpg');
    background-size : cover;
    box-shadow: rgba(0,0,0, 0.8) 0 0 0 10000px inset;
    padding: 23px;
}
h1{
    text-align: center;
    margin-bottom: 100px;
}

/* h2{
    margin-bottom: 15px;
} */

button{
    cursor: pointer;
}

.logo{
    text-align: center;
    margin-bottom: 0px;
}

.main-wrapper {
    max-width: 650px;
    margin: auto;
    background-color: #bda9c346;;
    padding: 50px;
    border-radius: 10px;
}
.indexh1{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

form div {
    padding: 20px 0;
}

form div label {
    display: block;
    font-weight: bold;
    font-size: 16px;
}

form div input{
    font-size: 18px;
    height: 50px;
    width: 100%;
    padding:0 10px ;
}
form div button{
    cursor: pointer;
    padding: 10px 30px;
    font-size: 18px;
    border-radius: 10px;
    -webkit-box-shadow: 2px 1px 4px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 1px 4px 2px rgba(0,0,0,0.75);
    box-shadow: 2px 1px 4px 2px rgba(0,0,0,0.75);
}
form ul{
    list-style: none;
}
form ul li {
    color: red;
}

.no-acc-register{
    text-align: center;
    margin-top: 20px;
}

.no-acc-register button{
    padding: 15px;
    font-size: 18px;
    border-radius: 10px;
}

.no-acc-register p {
    font-size: 22px;
    margin-bottom: 10px;
}

.custom-modal {
    display: none;
    background-color: rgb(31 22 44);
    box-shadow: #bda9c346 0 0 1000px 1000px;
    max-width: 680px;
    margin: auto;
    padding: 50px;
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    width: 100%;
    border-radius: 10px;
}
.custom-modal button#closeModal{
    height:40px ;
    width: 40px;
    font-size: 25px;
    color: white;
    background-color: transparent;
    border: 0;
    font-weight: bold;
    position: absolute;
    top: 30px;
    right: 30px;
}

.inner-container {
    border: 1px solid rgb(58, 0, 128);
    padding: 15px;
}

.inner-container.left-side{
    text-align: center;
    border-radius: 10px;
}
.inner-container.right-side{
    border-radius: 10px;

}

.inner-container img.profile_picture{
    width: 70%;
    border-radius: 15%;
    display: block;
    margin: auto;
    border: 5px solid white;
    margin-bottom: 20px;
}

.inner-container.left-side button{
    padding: 10px 15px;
    border-radius: 10px;
}


.inner-container.right-side form {
    display: flex;
    height: 100px;
}

.inner-container.right-side form textarea{
    width: 85%;
    border: 0;
    padding: 10px;
    resize: none;
    outline-color: rgb(58, 0, 128);
    font-size: 20px;
    border-radius: 10px;
}
.inner-container.right-side form button{
    width: 15%;
    border: 1px solid black;
    font-size: 25px;
    font-weight: bold;
    border-radius: 5px;
}

#deleteProfile {
    border: 2px solid red;
    color: red;
    padding: 15px;
}

#allPostsWrapper .single-post {
    background-color: #bda9c346;
    padding:15px ;
    margin-top: 15px;
    color: #000;
}

#allPostsWrapper .single-post .post-actions{
    display: flex;
    justify-content: space-between;
    color: rgb(255, 255, 255);
}
#allPostsWrapper .single-post .post-actions div button.like-btn {
    background-image: url('img/like.png');
    padding: 5px 15px 5px 40px;
    background-repeat: no-repeat;
    background-position: 10px;
    font-weight: bolder;
}
#allPostsWrapper .single-post .post-actions div button.comment-btn {
    background-image: url('img/comment.png');
    padding: 5px 15px 5px 40px;
    background-repeat: no-repeat;
    background-position: 10px;
    border: 0;
    font-weight: bolder;
}

#allPostsWrapper .single-post .post-actions div button.remove-btn {
border-color: red;
color: red;
padding: 5px 15px
}


#allPostsWrapper .single-post .single-post-content{
    padding-bottom: 30px;
    padding-top: 30px;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: bold;
    background-color: rgba(174, 171, 185, 0.356);
    border-radius: 5px;
    padding-left: 20px;
}

#allPostsWrapper .single-post .post-comments form {
    height: 30px;
    margin: 15px 0px;
}

#allPostsWrapper .single-post .post-comments form input{
    width: 85%;
    padding: 0px 10px;
}

#allPostsWrapper .single-post .post-comments form button{
    width: 15%;
    background-color: gray;
    font-size: 18px;
}

#allPostsWrapper .single-post .post-comments{
    display: none;
}

#allPostsWrapper .single-post .post-comments .single-comment {
    border: 1px dotted rgb(72, 65, 81);
    padding: 10px;
    margin-top: 10px;
    background-color: rgba(162, 116, 235, 0.817);
}

.liked {
    border: 1px solid red;
}

.comments-label{
    font-weight: bold;
    font-size: 20px;
}

.welcomeandlogo{
display: flex;
justify-content: center;
text-align: center;
align-items: center;
align-content: center;
margin-bottom: 30px;
}
.welcome{
    font-size: 60px;
    display: inline-block;
    margin: 0;
}
.welcomeimg{
    margin-left: 40px;
}
.comment_username{
    font-weight: bolder;
    color: rgb(48, 9, 102);
}

#profile_username{
    font-size: 30px;
    font-weight: bold;
}